@import "../variables";

.timer {
	line-height: 150px;
	text-align: center;
	font-size: 400%;
	font-weight: 700;
	color: transparent;
	text-shadow: 0 0 0 $on;
	-webkit-background-clip: text;
			-moz-background-clip: text;
					background-clip: text;
	&--running {
		text-shadow: 0 0 0 $off;
	}
}

.disabled {
	pointer-events: none;
	* {
		pointer-events: inherit;
	}
}

.text {
	color: $secondaryBackground;
}

.masterButton {
	padding: 2em 0 !important;
	background: $noise;
	color: $secondaryBackground;
	&--start {
		background-color: $on;
	}
	&--end {
		background-color: $off;
	}
}