@import "../variables";

.accordion {
	background: $noise;
	background-color: #131313 !important;
	background-size: 20px 20px;
	color: $secondaryBackground;
	
	&__button {
		color: inherit !important;
		
		&--textured {
			background: $noise;
		}
	}
}