@import "../variables";

.table {
	display: flex !important;

	&__row {
		display: flex !important;
		flex-direction: column;
	}

	&__cell {
		color: $secondaryBackground;
		padding: 8px !important;
	}
}