@import "../variables";

@keyframes Spinner {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 100%;
	text-align: center;
	line-height: 40em;

	&__icon {
		font-size: 4em !important;
		animation-name: Spinner;
		animation-duration: 1800ms;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
		color: $secondaryBackground;
	}
}